{% extends "base_template.html" %}
{% block content%}
<div>
    <h1>Work Experience</h1><br>
</div>
{% for exper in df %}
<div class="container-fluid">
    <div class = "row">
        <h2>{{exper['title']}}</h2>
    </div>
    <div class="row">
        <div class="col">
            {{exper['company']}}
        </div>
        <div class="col">
            {{exper['timeline']}}
        </div>
    </div>
    <div class="row">
        {% for bullet in exper['bullets'] %}
            {{bullet}} <br>
        {% endfor %}
    </div>
    <div class="row">
        {% if exper['display_pics'] %}
        display pics here!
        {% endif %}
    </div>
</div>
{% endfor %}
{%endblock%}