{% extends "base_template.html" %}
{% block content%}
  

<!--Mask-->
<div id="hobbies" class="view">
    <div class="mask rgba-black-light">

      <div class="container-fluid d-flex align-items-center justify-content-center h-100">

          <div class="col d-flex justify-content-center text-left">

                  <div class="d-flex flex-row flex-wrap">
                        <!--Grid column-->
                        <div class="col flex-1 mb-1">
                          <h4 class="white-text my-4">I play the ukulele!</h4>
                          <p class="white-text">
                            In high school, I was a musical theater kid. The ukulele was a great way to accompany my singing, so I picked it up. Now, it's one of my favorite ways to relax. My favorite songs to play are "I Will Follow You Into The Dark" by Death Cab for Cutie and "Hallelujah" by Jeff Buckley.
                          </p>
                          <div class="view overlay z-depth-1-half">
                            <img src="static/images/sanjay_uke_1.jpg" class="card-img-top" alt="">
                            <div class="mask rgba-black-light"></div>
                          </div>
                        </div>
                      <!--Grid column-->

                      <!-- Grid column-->
                      <!-- <div class="col flex-1 mb-1">
                          <h4 class="white-text my-4">Entreprenuership</h4>
                          <p class="white-text">During my time in college, I entered an incubator for businesses solving problems in education, and won $5,000.</p>
                          <a href="#" class="btn btn-outline-light">Read more </a>
                      </div> -->
                      <!--Grid column -->

                      <!--Grid column-->
                      <div class="col flex-1 mb-1">
                          <h4 class="white-text my-4">I'm making a podcast!</h4>
                          <p class="white-text">A friend and I have recently decided to make a podcast called "A Family History". It will tell the stories of events in people's lives that changed their families forever. Our first story will be about my family's choice to move to the US from India. Our first episode launches on July 18th!</p>
                          <div class="view overlay z-depth-1-half">
                            <img src="static/images/parents.jpg" class="card-img-top" alt="">
                            <div class="mask rgba-black-light"></div>
                          </div>
                      </div>
                      <!--Grid column-->
                  </div>

          </div>

      </div>

      <!-- Put three tiles here. One for each kind of project -->


  </div>

</div>
</div>
<!--/.Mask-->

<main>
</main>






{%endblock%}


