{% extends "base_template.html" %}
{% block content%}

    <!--Mask-->
    <!-- <div id="intro" class="view"> -->
        <!-- <div class="mask rgba-black-strong"> -->
            <!-- <div class="mask rgba-black-light"> -->

        <div class="container">

        <!-- Title -->
        <h1 class="font-weight-bold">Allocating Inventory at Macy's Using Hold and Flow</h2>

        <!-- Heading -->
        <h2 class="font-weight-bold">Overview</h2>
      
        <!--Grid row-->
        <div class="d-flex flex-row">
    
            <!-- Description -->
            <p class="grey-text mr-2">At Macy's, about half of all product sold is defined as fashion. 
                Fashion products have no sales history, and determining which stores will sell these products 
                best before the season begins is incredibly difficult. Rather than give stores all of the units 
                we purchased for them upfront, Hold and Flow aims to maximize profit by taking a portion of 
                units intended to be sold in stores, and place them in a warehouse. As sales are observed 
                in stores, the Hold and Flow algorithm sends units to the locations that have the highest probability of selling them.</p>            
        </div>
        <!--Grid row-->

        <!-- Divider -->
        <hr class="hr-strong">

        <!-- Proof of Concept Header -->
        <h2 class="font-weight-bold">Hold and Flow Example</h2>
        
        <!--Grid row-->
        <div class="row">
            <!--Grid row-->
            <div class="d-flex flex-col flex-1">
                <!-- Chart Showing Inventory Without Hold and Flow -->
                <canvas id="no_haf_chart"></canvas>
            </div>
            <!--Grid row-->
            

            <!--Grid row-->
            <div class="d-flex flex-col flex-1">
                <!-- Chart Showing Inventory Without Hold and Flow -->
                <canvas id="haf_chart"></canvas>
            </div>
            <!--Grid row-->      
        </div>
        <!--Grid row-->

        <!-- legend for the charts -->
        <!-- Should replace this text and css with javascript that assigns automatically -->
        <div class= "d-flex flex-row">
                <div id= "inventory_legend" class="col flex-1 text-center font-weight-bold" style= "background-color: rgba(54, 162, 235, 0.2)"> 
                    Inventory On-Hand 
                </div>
                <div id="sales_legend" class="col flex-1 text-center font-weight-bold" style= "background-color: rgba(75, 192, 192, 0.2)"> 
                    Cumulative Sales 
                </div>
                <div id="flow_legend" class="col flex-1 text-center font-weight-bold" style= "background-color: rgba(153, 102, 255, 0.2)">
                    Cumulative Flow 
                </div>

        </div>
        <!-- legend for the charts -->

        <!-- Chart javascript -->
        <script>
                let store_labels = ['Store 1', 'Store 2', 'Store 3', 'Pool Stock']
                let myChart = document.getElementById('no_haf_chart').getContext('2d');
                let myChart2 = document.getElementById('haf_chart').getContext('2d');

                

                // Graph chart colors
                let bar_colors = {
                    actual_sales: 'rgba(0, 0, 0, 0.2)',
                    potential_sales: 'rgba(0, 0, 0, 0.2)',
                    cumulative_sales: 'rgba(75, 192, 192, 0.2)',
                    inventory: 'rgba(54, 162, 235, 0.2)',
                    flow: 'rgba(0, 0, 0, 0.2)',
                    cumulative_flow: 'rgba(153, 102, 255, 0.2)'
                }               
                
                var store_data = {
                    no_haf: {
                        // Weeks of sales
                        week_0: {
                            actual_sales: [0,0,0,0],
                            potential_sales: [0,0,0,0],
                            cumulative_sales: [0,0,0,0],
                            inventory: [10,10,10,0],
                            flow: [0,0,0,0],
                            cumulative_flow: [0,0,0,0]
                        },
                        week_1: {
                            actual_sales: [1,5,2,0],
                            potential_sales: [1,5,2,0],
                            cumulative_sales: [1,5,2,0],
                            inventory: [9,5,8,0],
                            flow: [0,0,0,0],
                            cumulative_flow: [0,0,0,0]
                        },
                        week_2: {
                            actual_sales: [2,2,5,0],
                            potential_sales: [2,2,6,0],
                            cumulative_sales: [3,7,8,0],
                            inventory: [7,3,2,0],
                            flow: [0,0,0,0],
                            cumulative_flow: [0,0,0,0]
                        },
                        week_3: {
                            actual_sales: [1,3,2,0],
                            potential_sales: [1,5,5,0],
                            cumulative_sales: [4,10,10,0],
                            inventory: [6,0,0,0],
                            flow: [0,0,0,0],
                            cumulative_flow: [0,0,0,0]
                        }
                    },
                    haf: {
                        // Weeks of sales
                        week_0: {
                            actual_sales: [0,0,0,0],
                            potential_sales: [0,0,0,0],
                            cumulative_sales: [0,0,0,0],
                            inventory: [7,7,7,9],
                            flow: [0,0,0,0],
                            cumulative_flow: [0,0,0,0]
                        },
                        week_1: {
                            actual_sales: [1,5,2,0],
                            potential_sales: [1,5,2,0],
                            cumulative_sales: [1,5,2,0],
                            inventory: [6,2,5,9],
                            flow: [0,0,0,0],
                            cumulative_flow: [0,0,0,0]
                        },
                        week_2: {
                            actual_sales: [2,2,6,0],
                            potential_sales: [2,2,6,0],
                            cumulative_sales: [3,7,8,0],
                            inventory: [4,1,1,6],
                            flow: [0,1,2,3],
                            cumulative_flow: [0,1,2,3]
                        },
                        week_3: {
                            actual_sales: [1,5,3,0],
                            potential_sales: [1,5,5,0],
                            cumulative_sales: [4,12,11,0],
                            inventory: [3,0,0,0],
                            flow: [0,4,2,6],
                            cumulative_flow: [0,5,4,9]
                        }
                    }
                };

                var no_haf_data = {
                        labels: store_labels,
                        datasets:[
                            {
                                label:'Inventory On-Hand',
                                data: store_data.no_haf.week_0.inventory,
                                // Blue
                                backgroundColor: bar_colors.inventory,
                                borderColor: bar_colors.inventory,
                                borderWidth: 1
                            },
                            {
                                label:'Cumulative Sales',
                                data: store_data.no_haf.week_0.cumulative_sales,
                                // Green
                                backgroundColor: bar_colors.cumulative_sales,
                                borderColor: bar_colors.cumulative_sales,
                                borderWidth: 1
                            },
                            {
                                label:'Cumulative Flow',
                                data: store_data.no_haf.week_0.cumulative_flow,
                                // Purple
                                backgroundColor: bar_colors.cumulative_flow,
                                borderColor: bar_colors.cumulative_flow,
                                borderWidth: 1
                            }
                        ]
                    };
                

                    var haf_data = {
                        labels: store_labels,
                        datasets:[
                            {
                                label:'Inventory On-Hand',
                                data: store_data.haf.week_0.inventory,
                                // Blue
                                backgroundColor: bar_colors.inventory,
                                borderColor: bar_colors.inventory,
                                borderWidth: 1
                            },
                            {
                                label:'Cumulative Sales',
                                data: store_data.haf.week_0.cumulative_sales,
                                // Green
                                backgroundColor: bar_colors.cumulative_sales,
                                borderColor: bar_colors.cumulative_sales,
                                borderWidth: 1
                            },
                            {
                                label:'Cumulative Flow',
                                data: store_data.haf.week_0.cumulative_flow,
                                // Purple
                                backgroundColor: bar_colors.cumulative_flow,
                                borderColor: bar_colors.cumulative_flow,
                                borderWidth: 1
                            }
                        ]
                    };

                window.onload = function() {
                    window.no_haf_chart = new Chart(myChart, {type: 'bar',
                        data: no_haf_data,
                        options: {
                            responsive: true,
                            scales: {
                                yAxes: [{
                                    display: true,
                                    ticks: {
                                        suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                                        suggestedMax: 15,    // maximum will be 0, unless there is a lower value.
                                    }
                                }]
                            },
                            title: {
                                display: true,
                                text: 'Allocating Inventory Without Hold and Flow',
                                fontSize: 20
                            },
                            legend: {
                                display: false
                            }
                        }
                    });
                    window.haf_chart = new Chart(myChart2, {type: 'bar',
                        data: haf_data,
                        options: {
                            responsive: true,
                            scales: {
                                yAxes: [{
                                    display: true,
                                    ticks: {
                                        suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                                        suggestedMax: 15,    // maximum will be 0, unless there is a lower value.


                                    }
                                }]
                            },
                            title: {
                                display: true,
                                text: 'Allocating Inventory With Hold and Flow',
                                fontSize: 20
                            },
                            legend: {
                                display: false
                            }
                        }
                    });
                }
                
        </script>
        <!-- Chart javascript -->


        <!-- Slider for Start to End of Season -->
        <div class="d-flex justify-content-center my-4">
            <p class="col font-weight-bold indigo-text mr-2 mt-1">Start of Season</p>
            
            <form class="col flex-fill range-field my-5">
                <input id="haf_season_range" class="range-field w-100" type="range" value="0" min="0" step="1" max="3" />
            </form>

            <p class="col font-weight-bold indigo-text ml-2 mt-1">End of Season</p>
        </div>
        <!-- Slider for Start to End of Season -->

        <!-- Aggregate Stats for Example -->
        <div class="d-flex justify-content-center my-4">
               <!-- Description -->
               <p class="font-weight-bold indigo-text ml-2 mt-1" id="haf_agg_stats"></p>
        </div>
        <!-- Aggregate Stats for Example -->

        <!--Grid row-->
        <!-- Explanation of HAF Stage -->
        <div class="d-flex flex-row">
            <!-- Description -->
            <p id= "haf_overview_desc" class="grey-text mr-2"></p>
        </div>
        <!--Grid row-->

        <script>
            const arrSum = arr => arr.reduce((a,b) => a + b, 0);
            document.getElementById("haf_overview_desc").innerHTML = "At the start of the season, each store gets fewer units, and the remaining units go into a pool stock location";
            document.getElementById("haf_agg_stats").innerHTML = "Change in Sales Units: " + (arrSum(store_data.haf.week_0.cumulative_sales) - arrSum(store_data.no_haf.week_0.cumulative_sales))
            + " Total Units flowed: " + arrSum(store_data.haf.week_0.cumulative_flow);
            const slider = document.getElementById("haf_season_range"); 
            console.log(slider.value);
            slider.oninput = function() {
                console.log(slider.value);
                switch (slider.value) {
                    case "0":
                        console.log("Sunday");
                        no_haf_data.datasets[0].data = store_data.no_haf.week_0.inventory;
                        no_haf_data.datasets[1].data = store_data.no_haf.week_0.cumulative_sales;
                        no_haf_data.datasets[2].data = store_data.no_haf.week_0.cumulative_flow;
                        window.no_haf_chart.update();

                        haf_data.datasets[0].data = store_data.haf.week_0.inventory;
                        haf_data.datasets[1].data = store_data.haf.week_0.cumulative_sales;
                        haf_data.datasets[2].data = store_data.haf.week_0.cumulative_flow;
                        window.haf_chart.update();

                        document.getElementById("haf_overview_desc").innerHTML = "With Hold and Flow, each store gets fewer units at the start of the season, and the remaining units go into a pool stock location.";
                        document.getElementById("haf_agg_stats").innerHTML = "Change in Sales Units: " + (arrSum(store_data.haf.week_0.cumulative_sales) - arrSum(store_data.no_haf.week_0.cumulative_sales))
                            + " Total Units flowed: " + arrSum(store_data.haf.week_0.cumulative_flow);
                        break;
                    case "1":
                        console.log("Monday");
                        no_haf_data.datasets[0].data = store_data.no_haf.week_1.inventory;
                        no_haf_data.datasets[1].data = store_data.no_haf.week_1.cumulative_sales;
                        no_haf_data.datasets[2].data = store_data.no_haf.week_1.cumulative_flow;
                        window.no_haf_chart.update();

                        haf_data.datasets[0].data = store_data.haf.week_1.inventory;
                        haf_data.datasets[1].data = store_data.haf.week_1.cumulative_sales;
                        haf_data.datasets[2].data = store_data.haf.week_1.cumulative_flow;
                        window.haf_chart.update();

                        document.getElementById("haf_overview_desc").innerHTML = "As we observe sales in each store throughout the season, we can better determine which locations sell the product well, and which locations are selling poorly. In this case store 1 is selling poorly, but stores 2 and 3 are selling better than expectations.";
                        document.getElementById("haf_agg_stats").innerHTML = "Change in Sales Units: " + (arrSum(store_data.haf.week_1.cumulative_sales) - arrSum(store_data.no_haf.week_1.cumulative_sales))
                            + " Total Units flowed: " + arrSum(store_data.haf.week_1.cumulative_flow);
                        break;
                    case "2":
                        console.log("Tuesday");
                        no_haf_data.datasets[0].data = store_data.no_haf.week_2.inventory;
                        no_haf_data.datasets[1].data = store_data.no_haf.week_2.cumulative_sales;
                        no_haf_data.datasets[2].data = store_data.no_haf.week_2.cumulative_flow;
                        window.no_haf_chart.update();

                        haf_data.datasets[0].data = store_data.haf.week_2.inventory;
                        haf_data.datasets[1].data = store_data.haf.week_2.cumulative_sales;
                        haf_data.datasets[2].data = store_data.haf.week_2.cumulative_flow;
                        window.haf_chart.update();

                        document.getElementById("haf_overview_desc").innerHTML = "As stores that are selling product well get low on inventory, units flow from the pool stock location in order to prevent missed sales";
                        document.getElementById("haf_agg_stats").innerHTML = "Change in Sales Units: " + (arrSum(store_data.haf.week_2.cumulative_sales) - arrSum(store_data.no_haf.week_2.cumulative_sales))
                            + " Total Units flowed: " + arrSum(store_data.haf.week_2.cumulative_flow);
                        break;
                    case "3":
                        console.log("Wednesday");
                        no_haf_data.datasets[0].data = store_data.no_haf.week_3.inventory;
                        no_haf_data.datasets[1].data = store_data.no_haf.week_3.cumulative_sales;
                        no_haf_data.datasets[2].data = store_data.no_haf.week_3.cumulative_flow;
                        window.no_haf_chart.update();

                        haf_data.datasets[0].data = store_data.haf.week_3.inventory;
                        haf_data.datasets[1].data = store_data.haf.week_3.cumulative_sales;
                        haf_data.datasets[2].data = store_data.haf.week_3.cumulative_flow;

                        document.getElementById("haf_overview_desc").innerHTML = "Towards the end of the season, all remaining units are sent out to the stores. We predict which sales have the best chance of selling each unit, and flow units out to the stores that have the best probability of selling them.";
                        document.getElementById("haf_agg_stats").innerHTML = "Change in Sales Units: " + (arrSum(store_data.haf.week_3.cumulative_sales) - arrSum(store_data.no_haf.week_3.cumulative_sales))
                            + " Total Units flowed: " + arrSum(store_data.haf.week_3.cumulative_flow);
                        window.haf_chart.update();
                        break;
                    default:
                        console.log("Default hit");
                        break;
                    }
            };

            
        </script>


        <!-- Divider -->
        <hr class="hr-strong">

        <!-- Proof of Concept Header -->
        <h2 class="font-weight-bold">Proof of Concept</h2>

        <h5 class="font-weight-bold grey-text">Skills demonstrated: Python</h5>

        <!--Grid row-->
        <div class="row d-flex justify-content-center mb-4">

            <!--Grid column-->
            <div class="d-flex flex-column">
          
                    <!-- Description -->
                    <p class="grey-text mr-2">When I began working at Macy's, my first task was to help prove that the idea for Hold and Flow could work. 
                        Using a python package called <a href="https://simpy.readthedocs.io/en/latest/">Simpy</a>, I built a simulator to test the Hold and Flow algorithm by building a set of virtual stores and a warehouse. 
                        Using the simulator, we could vary the demand to stores, the percent of store receipts that are diverted to the warehouse, and the strategy employed to send units to stores.
                        We were able to use the simulator to prove the value of Hold and Flow, and also select the strategy we would want to implement for the pilot.
                    </p>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!-- Divider -->
        <hr class="hr-strong">

        <!-- Proof of Concept Header -->
        <h2 class="font-weight-bold">Piloting Hold and Flow</h2>
        <h5 class="font-weight-bold grey-text">Skills demonstrated: Python, SQL</h5>

        <!--Grid row-->
        <div class="row d-flex justify-content-center mb-4">
      
                <!--Grid column-->
                <div class="d-flex flex-column">
          
                    <!-- Description -->
                    <p class="grey-text mr-2">After showing the promise of Hold and Flow through simulation, the next
                        step is to build the Hold and Flow algorithm and implement it for a few products to check that it works.
                        I was tasked with building the end to end algorithm, and generating a list of transfers to stores every week.

                        The pilot was a success, and we were able to present a 10% sales lift in stores. The results of the pilot was presented 
                        in the press. You can read about it <a href="hold and let flow tank lululemon">here</a>.
                    </p>
                </div>
                <!--Grid column-->

        </div>
        <!--Grid row-->

        <!-- Divider -->
        <hr class="hr-strong">

        <!-- Proof of Concept Header -->
        <h2 class="font-weight-bold">Building the Full Scale Hold and Flow algorithm</h2>
        <h5 class="font-weight-bold grey-text">Skills demonstrated: Python, SQL, Tableau, Excel Macros</h5>

        <!--Grid row-->
        <div class="row d-flex justify-content-center mb-4">
      
                <!--Grid column-->
                <div class="d-flex flex-column">
          
                    <!-- Description -->
                    <p class="grey-text mr-2">With the pilot deemed a success, our team now had a new job: building the full scale algorithm.
                        For this task, I was charged with building the SQL pipeline that fed data into the algorithm. This included determining
                        which products were eligible for Hold and Flow, creating an average rate of sale (ARS) prediction for each product, and
                        connecting each product to a seasonality curve to improve forecast accuracy. I also created SQL tables that would allow for
                        manual input from stakeholders in order to change the behavior of the algorithm.
                    </p>
                    <!-- HAF form processing -->
                    <p class="grey-text mr-2">In addition to building the Hold and Flow pipeline, I was also asked to build a form processor that would allow 
                        merchants at Macy's to provide the algorithm with information about the products it transfers. This included information about eligbility, seasonality,
                        and the number of units that could be transferred to stores. The forms I built were Excel sheets with a macro that would save data in a folder that the Python processor would read,
                        validate that the forms were set up correctly, and upload to a SQL table for the algorithm to use.
                    </p>
                    <!-- HAF form processing -->
                    <p class="grey-text mr-2">To help merchants track the progress of Hold and Flow products, I set up Tableau reporting that provided a snapshot of how 
                        receipts, transfers, and sales had been going for each product. I also set up an Exceptions reporting tool, which would flag products automatically if they had weird or problematic flow patterns. 
                        This allowed stakeholders to anticipate problems and take preventative measures.
                    </p>

                </div>
                <!--Grid column-->

        </div>
        <!--Grid row-->

      
        </div> 
 

    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- Mask -->


    <main>
    </main>


{%endblock%}