{% extends "base_template.html" %}
{% block content%}
<!--Main layout-->
<main class="mt-5">
        <div class="container">
        <!-- Heading -->
        <h2 class="font-weight-bold">Overview</h2>
      
        <!--Grid row-->
        <div class="row d-flex justify-content-center mb-4">
      
            <!--Grid row-->
            <div class="d-flex flex-row">
      
                <!-- Description -->
                <p class="grey-text mr-2">At Macy's, about half of all product sold is defined as fashion. Fashion products have no sales history, and determining which stores will sell these products best before the season begins is incredibly difficult. Rather than give stores all of the units we purchased for them upfront, Hold and Flow aims to take a portion of units intended to be sold in stores, and place them in a warehouse. As sales are observed in stores, the Hold and Flow algorithm then sends units throughout the selling season in order to maximize sales across all stores.</p>            
            </div>

            <!--Grid row-->

            <!--Grid row-->
            <div class="d-flex flex-row justify-content-center">
                <!--Grid row-->
                <div class="d-flex flex-col">
                    <p class="font-weight-bold"> Allocating Inventory To Stores Without Hold and Flow </h4>
                    <!-- Chart Showing Inventory Without Hold and Flow -->
                    <canvas id="myChart"></canvas>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <!-- <div class="d-flex flex-col"> -->
                    <!-- <p class="font-weight-bold"> Allocating Inventory To Stores With Hold and Flow </h4> -->
                    <!-- Chart Showing Inventory With Hold and Flow -->
                    <!-- <canvas id="myChart2"></canvas> -->
                <!-- </div> -->
                <!--Grid row-->            
            </div>
            <!--Grid row-->

            <!-- Chart javascript -->
            <script>
                let store_labels = ['Store 1', 'Store 2', 'Store 3', 'Pool Stock']
                let myChart = document.getElementById('myChart').getContext('2d');
                let massPopChart = new Chart(myChart, {type: 'bar',
                    data: {
                        labels: store_labels,
                        datasets:[
                            {
                                label:'Inventory On-Hand',
                                data: [10, 10, 10, 0],
                                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                borderColor: 'rgba(54, 162, 235, 0.2)',
                                borderWidth: 1
                            },
                            {
                                label:'Sales',
                                data: [0, 0, 0, 0],
                                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                borderColor: 'rgba(75, 192, 192, 0.2)',
                                borderWidth: 1
                            }
                        ]
                    },
                    options: {}
                });

                // let myChart2 = document.getElementById('myChart2').getContext('2d');
                // let massPopChart2 = new Chart(myChart2, {type: 'bar',
                //     data: {
                //         labels: ['Worcester city', 'Springfield city', 'Lowell city', 'Cambridge city'],
                //         datasets:[{
                //             label:'Population',
                //             data: [181045, 153060, 106519, 105162]
                //             }
                //         ]
                //     },
                //     options: {}
                // });
            </script>
            <!-- Chart javascript -->
        </div>
        <!--Grid row-->

        <!-- Slider for Start to End of Season -->
        <div class="d-flex justify-content-center my-4">
            <span class="font-weight-bold blue-text mr-2 mt-1">Start of Season</span>
                <form class="range-field my-5">
                    <input id="haf_season_range" class="no-border" type="range" value="0" min="0" step="1" max="3" />
                </form>
            <span class="font-weight-bold blue-text ml-2 mt-1">End of Season</span>
        </div>
        <!-- Slider for Start to End of Season -->

        <script>
            const slider = document.getElementById("haf_season_range");
            console.log(slider.value);
            slider.oninput = function() {
                console.log(slider.value);
                switch (slider.value) {
                    case 0:
                        console.log("Sunday");
                        break;
                    case 1:
                        console.log("Monday");
                        break;
                    case 2:
                        console.log("Tuesday");
                        break;
                    case 3:
                        console.log("Wednesday");
                        break;
                    }
            }

            
        </script>


        <!-- Divider -->
        <hr class="hr-strong">

        <!-- Proof of Concept Header -->
        <h2 class="font-weight-bold">Proof of Concept</h2>

        <!--Grid row-->
        <div class="row d-flex justify-content-left mb-4">
      
                <!--Grid column-->
                <div class="d-flex flex-column">
          
                    <!-- Description -->
                    <p class="grey-text mr-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                        facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                        sit pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                        facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                        sit pariatur Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                        facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                        sit pariatur Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                        facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                        sit pariatur</p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="d-flex flex-column">
                        <p>&#9679; We listen to the other person without interruption and practice effective listening skills.</p>
                        <p>&#9679; We do not shy away from challenges</p>
                        <p>&#9679; We stay true to our slogan</p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="d-flex flex-column">
          
                        <!-- Description -->
                        <p class="grey-text mr-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                            facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                            sit pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                            facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                            sit pariatur Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                            facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                            sit pariatur Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                            facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                            sit pariatur</p>
                    </div>

            </div>
            <!--Grid row-->

        <!-- Divider -->
        <hr class="hr-strong">

        <!-- Proof of Concept Header -->
        <h2 class="font-weight-bold">Demand Forecasting</h2>

        <!--Grid row-->
        <div class="row d-flex justify-content-left mb-4">
      
                <!--Grid column-->
                <div class="d-flex flex-column">
          
                    <!-- Description -->
                    <p class="grey-text mr-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                        facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                        sit pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                        facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                        sit pariatur Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                        facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                        sit pariatur Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                        facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                        sit pariatur</p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="d-flex flex-column">
                        <p>&#9679; We listen to the other person without interruption and practice effective listening skills.</p>
                        <p>&#9679; We do not shy away from challenges</p>
                        <p>&#9679; We stay true to our slogan</p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="d-flex flex-column">
          
                        <!-- Description -->
                        <p class="grey-text mr-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                            facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                            sit pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                            facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                            sit pariatur Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                            facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                            sit pariatur Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat
                            facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est
                            sit pariatur</p>
                    </div>

            </div>
            <!--Grid row-->

        <!-- Divider -->
        <hr class="hr-strong">

      
    </div> 
 
    </main>
    <!--Main layout-->
{%endblock%}